@font-face {
	font-family: logoFont;
	src: url("../fonts/Elronmonospace.ttf");
}

body {
	background: url("../img/debut_dark.png") repeat;
}

#main-header {
    box-shadow: 0 0 10px black;
    margin-bottom: 30px;
}

#header-container {
	overflow: hidden;
	max-height: 300px;
	transition: all 1s ease;
}

#header-container.collapsed {
	max-height: 0;
}

#post-comment-form .form-group {
	margin: 0 0 5px 0px;
}

textarea {
	max-width: 100%;
}

#main-progress {
	position: fixed;
	width: 100%;
	bottom: 0;
	margin: 0;
}

section.panel.panel-info {
	background-color: transparent;
}

.jumbotron, .well {
	background-color: transparent;
	border: none;
	color: white;
	box-shadow: 0 0 10px 5px black;
}

.text-info {
	word-wrap: break-word;
}

.text-info img{
	margin-left: -60px;
}

h4.greetings {
  margin-right: 10px;
  margin-top: 15px;
}

.navbar {
	z-index: 1;
}

.main-logo-text {
	font-family: logoFont;
}

.panel-primary  > div{
	padding: 0;
}

.panel-primary {
	background-color: transparent;
}

.table{
	color: white;
}

.question   {
	color: white;
	border-bottom: 1px solid #fff;
}

.question h3{
    display: inline-block;
    width: 65%;
    padding-left: 20px;
}

#main-container section:last-of-type{
    border-bottom: none;
}

#main-container section h3:first-of-type{
    font-size: 1.3em;
    font-weight: bold;
}

.question-createdAt, .views {
    display: inline-block;
}

.question-createdAt{
    width: 20%;
    text-align: center;
}

.views {
    width: 10%;
    text-align: right;
}

.credentials {
	font-style: italic;
	color: #DD4814;
	margin-bottom: 1em;
}