@font-face {
	font-family: logoFont;
	src: url("../fonts/Elronmonospace.ttf");
}

body {
	background: url("../img/debut_dark.png") repeat;
}

.jumbotron, .well {
	background-color: transparent;
	border: none;
	color: white;
	box-shadow: 0 0 10px 5px black;
}

h4.greetings {
  margin-right: 10px;
  margin-top: 15px;
}

.navbar {
	z-index: 1;
}

.main-logo-text {
	font-family: logoFont;
}

.panel-body:first-of-type{
	min-height: 100px;
}

.nav {
	margin-bottom: 20px;
}

.show-categories > ul li a{
	margin-left: 45px;
}

.show-categories > ul > li:nth-of-type(1) {
	background-image: url('../img/programming.jpg');
	background-repeat: no-repeat;
}

.show-categories > ul > li > ul {
	margin-left: 50px;
	display: none;
}

.show-categories > ul li > ul li a {
	margin-left: 30px;
}

.show-categories > ul  > li:nth-of-type(1) > ul li:nth-of-type(1) {
	background-image: url('../img/java.png');
	background-repeat: no-repeat;
}

.show-categories > ul  > li:nth-of-type(1) > ul li:nth-of-type(2) {
	background-image: url('../img/javascript.png');
	background-repeat: no-repeat;
}



