<div class="container animated fadeIn">
	<div class="row">
		{{#each this}}
		<article class="col-md-12">
			<div class="well">
				<a href="#/forum/view/{{objectId}}">
					<h3>{{title}}</h3>
				</a>
				<p class="text-info">Date posted: {{createdAt}}</p>
				<p class="text-success">Posted by: {{author.username}}</p>
				<p class="text-danger">Views: {{viewsCount}}</p>
				<p> Tags: 
					{{#each tags}}
					<span class="badge">{{this}}</span>
					{{/each}}
				</p>
			</div>
		</article>
		{{else}}
		<div class="col-md-12">
			<div class="well">
				<h3>No questions in this category...</h3>
			</div>
		</div>
		{{/each}}
	</div>
</div>