<div class="container animated fadeIn">
	<div id="header-container" class="row">
		<div class="col-md-12">
			<header id="main-header">
				<img src="img/banner-jquery.jpg" alt="Let's talk about" class="img-responsive">
				<!-- Make changes to the header at this level  -->
			</header>
		</div>
	</div>

	<div class="row">
		<div class="col-md-9">
			<section class="panel panel-primary">
				<header class="panel-heading">
					<h3 class="panel-title name-category">JavaScript - opened category here</h3>
				</header>
				<div id="main-container" class="panel-body table-category">
					<img src="img/lets-talk-panel-body.png" alt="Let's talk about" class="img-responsive">
					<!-- Add more stuff here -->
				</div>
			</section>
			
		</div>
			
		<div class="col-md-3">
		
			<aside class="panel panel-info animated flipInY">
				<div class="panel-heading">
					<h3 class="panel-title">Recent topics:</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						{{#each this}}
						<a href="#/forum/view/{{objectId}}">
							<li class="list-group-item">
								<span class="badge" title="Views">{{viewsCount}}</span>
								{{title}}
							</li>
						</a>
						{{/each}}
					</ul>
				</div>
			</aside>
			
		</div>
	</div>
</div>