<div id="login-modal" class="modal fade animated rollIn">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="login-form" method="get" action="#">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Login</h4>
					<p class="animated fadeIn text-info text-center hidden"></p>
				</div>
				<div class="modal-body login-input-container">
					<div class="login-input-container">
						<label class="control-label" for="username-login-input">Username: </label>
						<input class="form-control" type="text" name="username" id="username-login-input">
					</div>
					<div class="login-input-container">
						<label class="control-label" for="password-login-input">Password: </label>
						<input class="form-control" type="password" name="password" id="password-login-input">
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-default" value="Login" />
				</div>
			</form>
		</div>
	</div>
</div>