<div id="register-modal" class="modal fade animated rollIn">
	<div class="modal-dialog">
		<div class="modal-content">
			<form id="register-form" method="post" action="#">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
					<h4 class="modal-title">Sign up</h4>
					<p class="animated fadeIn text-info text-center hidden"></p>
				</div>
				<div class="modal-body">
					<div class="register-input-container">
						<label class="control-label" for="first-name-input">First name: </label>
						<input class="form-control" type="text" name="firstName" id="first-name-input" autofocus>
					</div>
					<div class="register-input-container">
						<label class="control-label" for="last-name-input">Last name: </label>
						<input class="form-control" type="text" name="lastName" id="last-name-input">
					</div>
					<div class="register-input-container">
						<label class="control-label" for="username-input">Username: </label>
						<input class="form-control" type="text" name="username" id="username-input">
					</div>
					<div class="register-input-container">
						<label class="control-label" for="password-input">Password: </label>
						<input class="form-control" type="password" name="password" id="password-input">
					</div>
					<div class="register-input-container">
						<label class="control-label" for="verify-password-input">Repeat password: </label>
						<input class="form-control" type="password" name="verifyPassword" id="verify-password-input">
					</div>
				</div>
				<div class="modal-footer">
					<input type="submit" class="btn btn-primary" value="Register">
				</div>
			</form>
		</div>
	</div>
</div>