<div class="container">
	<article>
		<div class="jumbotron text-center">
			<h1>{{title}}</h1>
			
			<div class="row">
				<div class="col-md-4"><p>Posted by: asdsad</p></div>
				<div class="col-md-4"><p>Posted: {{createdAt}}</p></div>
				<div class="col-md-4"><p>Views: {{viewsCount}}</p></div>
			</div>
			
			<hr>
			
			<p>{{content}}</p>
		</div>
		
		
		
		<div class="panel panel-info">
			<div class="panel-heading">
				<h3 class="panel-title">Comments</h3>
			</div>
			<div class="panel-body">
				Panel content
			</div>
		</div>
	</article>
</div>